<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CityDao">
	<resultMap id="BaseResultMap" type="com.domain.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
	</resultMap>

	<parameterMap id="City" type="com.domain.City"/>

	<sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>


	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from city
		where city_name = #{cityName,jdbcType=VARCHAR}
	</select>


	<update id="batchUpdate" parameterType="java.util.List">
		update city
		<set>
			<foreach collection="list" item="item"  open="city_name = case " close="end,">
				when id=#{item.id} then #{item.cityName}
			</foreach>
		</set>
		<foreach collection="list" open="where id in(" separator="," item="item" close=")">
			#{item.id}
		</foreach>
	</update>


</mapper>
